
 body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: #F4F1DE;
    margin: 0 auto;
  }
  
  header {
    align-items:center;
    justify-content: center;
    display: flex;
    padding: 7px;
    background-color: #E07A5F;
    color: #F4F1DE;
  }
  
  .logo-box {
    height: 90px;
    width: auto;
    padding-right: 10px;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F4F1DE;
  }
  
  .title h1 {
    font-size: 1.8em;
    margin-bottom: 0px;
  }

  .motto {
    font-style: italic;
    font-size: 1em;
    letter-spacing: 1pt;
    padding-bottom: 10px;
  }
  
h1, h2, h3 {
    font-family: 'Imbue', Times, serif;
}

h1 {
  font-size: 2em;
  padding: 10px;
  text-align: center;
}

h2 {
    font-size: 1.4em;
    color: #E07A5F;
    line-height: 0.5em;
}

h3 {
    font-size: 1.3em;
}
  
.preston-heading {
    text-align: center;
    color: #E07A5F;
    font-size: 2.5em;
  }
  
  .contents{
    display: block;
    margin: 10px auto;
    border: 1px dashed #3D405B;
    padding: 15px;
    background-color: #F2CC8F;
    color: #3D405B;
    font-style: italic;
    font-size: 1.1em;
  }
  
  main {
    margin: auto;
    padding: 15px;
  }

  
  nav {
    background-color: #81B29A;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #F4F1DE;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  nav li {
    display: none;
}

nav a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color:#3D405B;
    font-weight: 700;
}

nav a:hover {
  background-color: #F4F1DE;
  color: #81B29A;
}

nav a:active {
  color: #F2CC8F;
}
  
  .nav-bar {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
  .nav-bar li:first-child {
      display: block;
  }
  
  .menu-id li {
      display: block;
  }
  
  p {
    font-size: 1.1em;
    font-weight: bold;
    color:	#3D405B;
  }
  
  footer {
    background-color: #E07A5F;
    color: #F4F1DE;
    font-size: 1em;
    text-align: center;
    padding: 10px;
  }
  
  a {
    color: #81B29A;
}