@media only screen and (min-width:701px) {

  /* Navigation */

  .nav-bar {
        display: flex;
  }
  
  .nav-bar li {
        display: block; 
        flex: 1 1 auto;
  }
  
  .nav-bar a {
        text-align: center;
  }
  
  .nav-bar li:first-child {
        display: none;
  }

   /* Styling */

  h1 {
      margin-top: 1em;
    }
  
  .title {
    color: #020122;
  }

  main {
    max-width: 1007px;
    margin: auto;
    padding-top: 1em;
  }

   /* Homepage */

   .business-container {
    grid-template-columns: 1fr 1fr;
    margin: 1em 0 auto;
    border: 1px solid;
    border-radius: 5px;
  }

  .business-title p {
    text-align: center;
  }

  .home-business1 {
    grid-column: 1/2;
  }

  .home-business2 {
    grid-column: 2/3;
  }

  .home-business3, .business-title {
    grid-column: 1/3;
  }

  .home-about {
    padding: 1em 10em 2em;
  }

  .home-membership {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .home-membership-pic {
    margin: 1em;
    width: 90%;
    grid-column: 1/2;
  }

  .right-membership {
    grid-column: 2/3
  }

  .right-membership p {
    padding-top: 3em;
  }

  #temperature-container {
    width: 70%;
  }

  /* Weekly Forecast */

  #forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #020122;
    gap: 1em;
    margin: 2em;
    font-weight: bold;
    text-align: center;
  }

  #forecast p {
    text-align: center;
    font-size: 1em;
  }

  #icon1, #icon2, #icon3 {
    width: 30%;
  }

  #days {
    width: 30%;
  }

  .days:nth-child(3){
    grid-column: 3/4;
  }

   /* Contact Information */

    #map {
    grid-column: 1/2;
    grid-row: 1;
  }

   .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact-info {
    grid-column: 2/3;
    grid-row: 1;
  }


  /* Contact page */

  .contact-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .contact-pic {
    grid-column: 1/2;
    margin-top: 2.5em;
    height: 380px;
  }
  
  
  form {
    grid-column: 2/3;
  }

  .board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .board-col-1 {
    grid-column: 1/2;
  }

  .board-col-2 {
    grid-column: 2/3;
  }

  .board-col-3 {
    grid-column: 1/3;
  }

  /* City Page */

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .event-pic {
    width: 100%;
    height: 325px;
  }

  /* Join Page */

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  .benefit-1 {
    grid-column: 1/2;
  }

  .benefit-2 {
    grid-column: 2/3;
  }

  .benefit-3 {
    grid-column: 3/4;
  }

  .join-membership-pic {
    height: 220px;
  }
/* Directory Page */

#directoryWrapper {
margin: 10px;
}

#directoryContent {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 10px;
}

.businessAddress{
  padding-top: 20px;
}

#directoryContent .logo {
  padding-bottom: 2em;
}

}